*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( to bottom right, #4C0033 ,75%,#AF0171);
    height: 100vh;
    color: white;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    flex-wrap: wrap;
}