.popup{
    width: 50rem;
    height: 50rem;
    background: #191919;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 4rem;
}

.popup__label{
    font-size: 150%;
}

.popup__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popup__input{
    background: none;
    border: none;
    color: #eee;
    font-size: 120%;
    border-bottom: 0.2rem solid #eee;
    outline: none;
}

.popup__button{
    width: 15rem;
    height: 5rem;
    font-size: 100%;
    background: #00Abb3;
    font-family: sans-serif;
    color: #eee;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
}

.popup__button:hover{
    background: #00848a;
}